<!DOCTYPE html>
<html>
    <head>
        <title>John's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">John's Blog</a></h1>
        </header>

        <article>
            <time>published: 9/25/2022</time>
            <h2><a href="">My first post</a></h2>
            <p>Here's some words for a test</p>
        </article>

        <article>
            <time>published: 9/25/2022</time>
            <h2><a href="">My second post</a></h2>
            <p>And here's a couple more</p>
        </article>
    </body>
</html>